.description-card {
    margin: 2rem 0rem;
    background-color: #45A29E;
    font-weight: 300;
    font-size: 13pt;
}

.author-info {
    text-align: right;
}

.details-card-tags,
.language-info {
    margin: auto;
}

.details-card-body {
    background-color: #1F2833;
    color: #C5C6C7;
}

.details-card-header {
    color: white;
    font-size: 19pt;
    font-weight: 600;
    padding: 8px 20px;
}

.details-footer {
   margin: 0px;
   color: white;
}

.detail-name {
    font-weight: 500;
    color: white;
}