.description-card {
    margin: 2rem 0rem;
    background-color: #45A29E;
}

.author-info {
    text-align: right;
}

.details-card-tags,
.language-info {
    margin: auto;
}

.details-card-body {
    background-color: #1F2833;
    color: #C5C6C7;
}

.details-card-header {
    color: white;
    font-size: 17pt;
}

.details-footer {
   margin: 0px;
   color: white;
}



/* .details-card-footer {
    background-color: #45A29E;

} */