.nav-menu {
  background: #47a3da;
	position: fixed;
}

.nav-menu h3 {
  color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.nav-menu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.nav-menu a:hover {
	background: #258ecd;
}

.nav-menu a:active {
	background: #afdefa;
	color: #47a3da;
}

.nav-menu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.nav-menu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}

.nav-menu-left {
	left: -240px;
}

.nav-menu-right {
	right: -240px;
}

.nav-menu-left.nav-menu-open {
	left: 0px;
}

.nav-menu-right.nav-menu-open {
	right: 0px;
}

.nav-menu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.nav-menu-push-toright {
	margin-left: 240px;
}

.nav-menu-push-toleft {
	margin-right: 240px;
}

.nav-menu,
.nav-menu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.account-button {
	float: right;
}