.nav-menu {
  background: #1f2833;
	position: fixed;
}

.nav-menu h3 {
  color: white;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #45A29E;
}

.nav-menu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.nav-menu a:hover {
	background: #45A29E;
	color: white;
}

.nav-menu a:active {
	background: #afdefa;
	color: #47a3da;
}

.nav-menu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.nav-menu-vertical a {
	border-bottom: 1px solid #45A29E;
	padding: 1em;
}

.nav-menu-left {
	left: -240px;
}

.nav-menu-right {
	right: -240px;
}

.nav-menu-left.nav-menu-open {
	left: 0px;
}

.nav-menu-right.nav-menu-open {
	right: 0px;
}

.nav-menu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.nav-menu-push-toright {
	margin-left: 240px;
}

.nav-menu-push-toleft {
	margin-right: 240px;
}

.nav-menu,
.nav-menu-push,
.nav-menu-push-toright,
.nav-menu-push-toleft {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.hamburger-button {
	float: left;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	cursor: pointer;
	transition: all .5s ease-in-out;
}

.hamburger-button-burger {
	width: 50px;
	height: 6px;
	background: #66FCF1;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}

.hamburger-button-burger::before,
.hamburger-button-burger::after {
	content: '';
	position: absolute;
	width: 50px;
	height: 6px;
	background: #66FCF1;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}

.hamburger-button-burger::before {
	transform: translateY(-16px);
}

.hamburger-button-burger::after {
	transform: translateY(16px);
}

.hamburger-button.open .hamburger-button-burger {
	transform: translateX(-50px);
	background: transparent;
}

.hamburger-button.open .hamburger-button-burger::before {
	transform: rotate(45deg) translate(35px, -35px)
}

.hamburger-button.open .hamburger-button-burger::after {
	transform: rotate(-45deg) translate(35px, 35px)
}



.account-button {
	float: right;
}