body {
    background-color: black;
}

.list-group-item {
    /* background-color: #666666; */
    background-color: #0c0032;
    /* background-color: #190061; */
}
hr {
    color: #190061;
}

#results-card-title {
    font-size: 18pt;
}

.results-body {
    padding: 0px;
    color: #282828;
}

#code-block {
    height: 100%;
}

#pre-code-block {
    margin: 0px;
}

#results-card-container {
    padding: 13px;
    background-color:#c5c6c7;
}

.card-title {
    color: #240090;
}

.results-list-item {
    margin: .5rem 0rem;
}