/* .list-group-item {
    background-color: lightgray;
} */

#results-card-title {
    font-size: 18pt;
}

.results-body {
    padding: 0px;
}

#code-block {
    height: 100%;
}

#pre-code-block {
    margin: 0px;
}

#results-card-container {
    padding: 13px;
}
