.no-login-box {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.no-login-box button {
    width: 100px;
    margin: 1%;
    height: 50px;
    font-size: 18px;
}