.rating {
    display: inline-block;
    width: 100%;
}
  
.like,
.dislike {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

.dislike:hover,
.like:hover {
    color: #240090;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.active {
    color: #240090;
}

.rating-container {
    text-align: center;
}

#rating-text {
    color: white;
}