#comment-heading {
    text-align: center;
    color: white;
}

#submit-comment-btn {
    margin: 1rem 0rem;
    background-color: #66FCF1;
    border-color: #66FCF1;
    color: #0B0C10;
}

#comment-input {
    height: 100px;
    background-color: #1F2833;
}