.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #45A29E;
    color: white;
    text-align: center;
    height: 55px;
  }

  .footer-link{
    color: white;
  }