@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';


/* div[class*=box] {
	height: 33.33%;
	width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
} */

.box-1 {
    text-align: center;
    height: 300px;
    display: flex;
    /* width: 100%; */
    align-items: center;
    margin-top: 10rem;
    border-style: solid;
    border-width: thin;
    border-color: grey;
}

.home-btn {
    margin: auto;
	line-height: 50px;
	/* height: 50px; */
	text-align: center;
	width: 100%;
    cursor: pointer;
}

.btn-one {
    /* color: #FFF; */
    color: grey;
	transition: all 0.3s;
    position: relative;
    display: block;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	/* border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5); */
    border-top-color: grey;
	border-bottom-color: grey;
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}