.create-code-background {
    display: flex;
    height: 90vh;
    margin-right: 15%;
    margin-left: 15%;
    justify-content: center;
    align-items: center;
}

.create-form {
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.code-preview-container {
    display: flex;
    width: 95%;
    justify-content: center;
    height: 53%;
}

.code-preview-container > * {
    width: 45%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

.create-form > * {
    margin-top: 2%;
    margin-bottom: 2%;
}

.create-form .create-code-title {
    width: 60%;
    margin-top: 1%;
}

.create-form :nth-child(4){
    width: 15%;
}

.create-form :nth-child(6){
    margin-top:1%;
}

.create-form .tags-box {
    width: 90%;
    display: flex;
    justify-content: center;
}

@media (max-width:1500px) {
    .create-form {
        width:55vw;
    }
}

@media (max-width:1000px) {
    .create-form {
        width:65vw;
    }
}

@media (max-width:700px) {
    .create-form {
        width:75vw;
    }
}