.img-circle-comment{
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70px;
    height: 70px;
    border: 1px solid #1F2833;
}

.comment-container{
    background-color: #1F2833;
    height: 20%;
    border: 1px solid #45A29E;
    color: #C5C6C7;
}

.comment-text{
    margin-top: 2px;
    color: white;
    margin-left: 10px;
}

.widget .panel-body {
     padding:0px; 
    }
.widget .list-group { 
    margin-bottom: 0; 
}
.widget .panel-title { 
    display:inline 
}
.widget .label-info { 
    float: right; 
}

.widget .mic-info {
     color: #666666;
     font-size: 11px; 
    }
.widget .action { 
    margin-top:5px; 
}
.widget .comment-text { 
    font-size: 12px; 
}
.widget .btn-block {
     border-top-left-radius:0px;
     border-top-right-radius:0px; 
    }