#code-block-textarea {
    height: 400px;
    background-color: #282c34;
    color: #abb2bf;
}

#copy-btn {
    float: right;
}

#code-block-container {
    margin-top: 4rem;
}

#textarea-label {
    color: white;
}