#code-block-textarea {
    background-color: #282c34;
    color: #abb2bf;
    opacity: 0.01;
    height: 0;
    position: absolute;
    z-index: -1;
}

#copy-btn {
    float: right;
}

#code-block-container {
    margin-top: 4rem;
}

#details-code-block {
    height: 400px;
}